In [1]:
import Data.dataset as ds
import Plots.plots as pl
import Calculations.monte_carlo as mc
import Calculations.calculations as cal
import Calculations.probability as pb

In [2]:
zone1 = ds.get_out1()
zone2 = ds.get_out2()

mass = ('Mass', 'Mass [kg]')
velocity = ('Velocity', 'Velocity [m/s]')
kinetic_energy = ('Kinetic Energy', 'Kinetic Energy [kJ]')
timedelta = ('Timedelta', 'TimeDiffHours')
n_years = 10000

In [3]:
without_outliers_zone1 = ds.replace_outliers_with_median(zone1)
without_outliers_zone2 = ds.replace_outliers_with_median(zone2)

In [4]:
print('Zone1 Timedelta')
sim_timediff_zone1 = mc.simulate_gamma_distribution_timediff(without_outliers_zone1, n_years, timedelta)
display(sim_timediff_zone1)

print('Zone2 Timedelta')
sim_timediff_zone2 = mc.simulate_gamma_distribution_timediff(without_outliers_zone2, n_years, timedelta)
display(sim_timediff_zone2)

#pl.show_simulated_data(sim_timediff_zone1, sim_timediff_zone2, timedelta)

n_simulations_zone1 = len(sim_timediff_zone1)
n_simulations_zone2 = len(sim_timediff_zone2)

Zone1 Timedelta

         TimeDiffHours
0                  0.0
1                  1.0
2                 21.0
3                 11.0
4                  5.0
...                ...
2911675           15.0
2911676           12.0
2911677            3.0
2911678           15.0
2911679           21.0

[2911680 rows x 1 columns]

Zone2 Timedelta

         TimeDiffHours
0                  0.0
1                 17.0
2                 17.0
3                  4.0
4                 61.0
...                ...
1900708          103.0
1900709           10.0
1900710           98.0
1900711           11.0
1900712           82.0

[1900713 rows x 1 columns]

In [5]:
print('Zone1 Velocity')
sim_velocity_zone1 = mc.simulate_norm_distribution(without_outliers_zone1, n_simulations_zone1, velocity)
display(sim_velocity_zone1)

print('Zone2 Velocity')
sim_velocity_zone2 = mc.simulate_norm_distribution(without_outliers_zone2, n_simulations_zone2, velocity)
display(sim_velocity_zone2)

#pl.show_simulated_data(sim_velocity_zone1, sim_velocity_zone2, velocity)

Zone1 Velocity

         Velocity [m/s]
0              9.662663
1              8.319384
2              8.169309
3              7.735165
4             10.477478
...                 ...
2911675       11.358744
2911676        9.879891
2911677        9.354382
2911678        7.218227
2911679        7.377053

[2911680 rows x 1 columns]

Zone2 Velocity

         Velocity [m/s]
0             40.660046
1             39.949209
2             36.725778
3             45.423527
4             37.204662
...                 ...
1900708       35.951015
1900709       43.751190
1900710       30.702989
1900711       42.743041
1900712       46.843150

[1900713 rows x 1 columns]

In [6]:
print('Zone1 Mass')
sim_mass_zone1 = mc.simulate_gamma_distribution(without_outliers_zone1, n_simulations_zone1, mass)
display(sim_mass_zone1)

print('Zone2 Mass')
sim_mass_zone2 = mc.simulate_gamma_distribution(without_outliers_zone2, n_simulations_zone2, mass)
display(sim_mass_zone2)

#pl.show_simulated_data(sim_mass_zone1, sim_mass_zone2, mass)

Zone1 Mass

           Mass [kg]
0         549.264404
1         571.076226
2          76.272339
3         400.798865
4         364.989410
...              ...
2911675   555.729286
2911676  1374.000477
2911677   433.697463
2911678  1243.490902
2911679   241.326935

[2911680 rows x 1 columns]

Zone2 Mass

          Mass [kg]
0        112.951475
1         50.159314
2         50.210149
3         46.213570
4         28.361988
...             ...
1900708   80.758332
1900709   87.434515
1900710   93.302383
1900711   35.433229
1900712   75.760421

[1900713 rows x 1 columns]

In [7]:
merged_zone1 = ds.merge_simulated_data(sim_mass_zone1, sim_velocity_zone1, sim_timediff_zone1)
merged_zone2 = ds.merge_simulated_data(sim_mass_zone2, sim_velocity_zone2, sim_timediff_zone2)

print('Zone1')
display(merged_zone1)
print('Zone2')
display(merged_zone2)

Zone1

,DateTime,Year,Month,Day,Timestamp,Mass [kg],Velocity [m/s],Kinetic Energy [kJ],TimeDiffHours
0,0001-01-01 00:00:00,1,1,1,00:00,549.264404,9.662663,25.641600,0.0
1,0001-01-01 01:00:00,1,1,1,01:00,571.076226,8.319384,19.762708,1.0
2,0001-01-01 22:00:00,1,1,1,22:00,76.272339,8.169309,2.545117,21.0
3,0001-01-02 09:00:00,1,1,2,09:00,400.798865,7.735165,11.990453,11.0
4,0001-01-02 14:00:00,1,1,2,14:00,364.989410,10.477478,20.033819,5.0
...,...,...,...,...,...,...,...,...,...
2911675,9994-05-09 01:00:00,9994,5,9,01:00,555.729286,11.358744,35.850391,15.0
2911676,9994-05-09 13:00:00,9994,5,9,13:00,1374.000477,9.879891,67.059643,12.0
2911677,9994-05-09 16:00:00,9994,5,9,16:00,433.697463,9.354382,18.975232,3.0
2911678,9994-05-10 07:00:00,9994,5,10,07:00,1243.490902,7.218227,32.394682,15.0
2911679,9994-05-11 04:00:00,9994,5,11,04:00,241.326935,7.377053,6.566615,21.0

Zone2

,DateTime,Year,Month,Day,Timestamp,Mass [kg],Velocity [m/s],Kinetic Energy [kJ],TimeDiffHours
0,0001-01-01 00:00:00,1,1,1,00:00,112.951475,40.660046,93.367911,0.0
1,0001-01-01 17:00:00,1,1,1,17:00,50.159314,39.949209,40.025610,17.0
2,0001-01-02 10:00:00,1,1,2,10:00,50.210149,36.725778,33.861292,17.0
3,0001-01-02 14:00:00,1,1,2,14:00,46.213570,45.423527,47.676156,4.0
4,0001-01-05 03:00:00,1,1,5,03:00,28.361988,37.204662,19.629146,61.0
...,...,...,...,...,...,...,...,...,...
1900708,9994-05-04 00:00:00,9994,5,4,00:00,80.758332,35.951015,52.189081,103.0
1900709,9994-05-04 10:00:00,9994,5,4,10:00,87.434515,43.751190,83.682117,10.0
1900710,9994-05-08 12:00:00,9994,5,8,12:00,93.302383,30.702989,43.976842,98.0
1900711,9994-05-08 23:00:00,9994,5,8,23:00,35.433229,42.743041,32.367680,11.0
1900712,9994-05-12 09:00:00,9994,5,12,09:00,75.760421,46.843150,83.119815,82.0

In [8]:
sim_rocks_in_net = cal.sim_calculate_cumulative_mass_since_clearing(merged_zone1, merged_zone2)
display(sim_rocks_in_net)

,DateTime,Zone,Mass [kg],Velocity [m/s],Kinetic Energy [kJ],CumulativeMassInNet
0,1-01-01 00:00,1,549.264404,9.662663,25.641600,0.000000
0,1-01-01 00:00,2,112.951475,40.660046,93.367911,0.000000
1,1-01-01 01:00,1,571.076226,8.319384,19.762708,662.215880
1,1-01-01 17:00,2,50.159314,39.949209,40.025610,0.000000
2,1-01-01 22:00,1,76.272339,8.169309,2.545117,50.159314
...,...,...,...,...,...,...
2911676,9994-05-09 13:00,1,1374.000477,9.879891,67.059643,0.000000
2911677,9994-05-09 16:00,1,433.697463,9.354382,18.975232,1374.000477
2911678,9994-05-10 07:00,1,1243.490902,7.218227,32.394682,0.000000
2911679,9994-05-11 04:00,1,241.326935,7.377053,6.566615,0.000000
1900712,9994-05-12 09:00,2,75.760421,46.843150,83.119815,0.000000

In [9]:
net_brake_probability = pb.calculate_probability(sim_rocks_in_net)
print(net_brake_probability*100, '% Netzbruchwahrscheinlichkeit in 10000 Jahren')

123
0.002555900983149132 % Netzbruchwahrscheinlichkeit in 10000 Jahren

In [10]:
net_brake_probability_per_year = pb.calculate_yearly_probability(net_brake_probability, n_years)
print(net_brake_probability_per_year*100, '% Netzbruchwahrscheinlichkeit pro Jahr')

2.5559336869207527e-07 % Netzbruchwahrscheinlichkeit pro Jahr

In [11]:
overall_death_probability = pb.calculate_overall_death_probability(net_brake_probability_per_year)
print(overall_death_probability*100, '% Gesamttodeswahrscheinlichkeit pro Jahr')

1.944963298399216e-06 % Gesamttodeswahrscheinlichkeit pro Jahr